/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/

.clearfix {
    zoom: 1;
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

$dblue: #0d1a25;
$offwhite: #faf8f8;
$orange:#f26522;
$lblue:#15466d;
$tcolor:#231f20;
$red:#a51414;
$skyblue:#00bff3;
$lgray:#f5f4f6;
/*Colors
#faf8f8-white
#0d1a25-Dark Blue
*/


/***** SITE STYLES *************/
/**********************************/
body{
	ul{
		margin:none;
		padding:none;
	}

	li{
		margin: none;
		padding:none;
		list-style: none;
		font-style:"museo-sans";
	}

	a{
		text-decoration: none;
	}
	h1{
		font-style:"museo-sans";
	}
	h2{
		font-style:"museo-sans";
	}
	article{
		font-style:"museo-sans";
	}
	p{
		font-style:"museo-sans";
	}
}
img{
	max-width:100%;
	display:block;
	padding:none;
	margin:none;
}

.container{
	display:block;
	position:fixed;
	padding:20px 0 20px 0;
	background-color:$dblue;
	width:100%;
	top:0px;


}
/**********************************************/
.sidebar_left{
	display:block;
	width:40%;
	float:left;

    ul{
    	margin:0 0 0 5%;
    	padding:0;
    }

	li{
		display: none;
		
	}
	li:first-child{
		display:block;		
		color:$offwhite;
		margin:0 0 0 10%;		
	}
	a{

	}
	a:visited{
		color:$offwhite;
	}
	a:first-child{
		display:block;
		padding:5px 20% 5px 20%;
		width:60px;
		font-weight:700;
		font-size:1.4em;
		border: 4px solid $offwhite;
	}
}
/**********************************************/


.donate_button_mobile{
	float:right;
	display:block; 
	width:40%;
	color:$orange;
	padding:10px;
	margin-right:10%;
	
	a{
	border: 4px solid $orange;
	font-style:"museo-sans";
	font-weight:700;
	font-size:1.4em;
	padding:5px 20% 5px 20%;
	}
	a:visited{
		color:$orange;
	}
	a:hover{
		background-color:$orange;
		color:$offwhite;
		transition:0.3s ease
	}
}
/**********************************************/
.social_div{
	position:fixed;
	bottom:0px;
	display:block;
	background-color:$dblue;
	width:100%;
	height:50px;
}

.social_icons{
	display:block;
	margin:0 auto;
	padding:10px;
	
}
.search{
	padding:100px 0 20px 5%;
	display:block;
	background-color: $dblue;
}

.search_bar{
	display:block;
	width:90%;
	.sbox{
		width:55%;
		padding:10px;
	}
	.sbutton{
		width:35%;
		padding:8px 0 9px 0;
		background-color:#9ba8b2;
		color:#15466d;
		font-family: "museo-sans";
		font-weight: 900;
		font-size: 1.2em;
	}
}
/**********************************************/

.sidebar_right{
	display:block;
    background:#0d1a25;
    margin-top: 30px;

    ul{
    	padding:20px 4% 20px 4%;
    	margin-top:10px;
    }
    h2{
    	display:inline-block;
    	color:$offwhite;
    	font-weight:500;
		font-size: 1.2em;
		border:2px solid $offwhite;
		padding:5px;
    }
    li{
    	display: block;
    	text-align:left;
		font-weight:500;
		font-size: 1em;
		border-bottom: 1px solid #767577;
    }

    li:last-child{
		border:none;
	}
	a{
		display:block;
		color:#faf8f8;
		padding:10px;
	}
	a:hover{
		font-weight:500;
		font-size: 1em;
		background-color: $offwhite;
		color:$dblue;
		border-right: 15px solid $skyblue;
	}
/**********************************************/

}
.logo{
	width:100%;
	padding:40px;
	margin:0 auto;

	img{
		width:60%;
	}


}
.main_image{
	background-image: url("../img/main_image.png");
	background: contain;
	background-repeat: no-repeat;
	height:250px;
	padding:0;
	margin:0;
	
	p{
		display: block;
		width:65%;
		font-weight:700;
		font-size: 1.7em;
		color: $offwhite;
		padding:20px;
		line-height: 1em;
	}
}

/**********************************************/
.features{
	padding:0px 0px 0 0;
	margin:0px;
	ul{
		display:block;
		padding:0;
		margin:0;
	}
	li{
		margin-top:10px;
		padding:10px;
		background-color:#f2f0f2;
	}/*
	li:first-child:hover{
		background-color:#b0cadf;
	}
	li:nth-child(2):hover{
		background-color:#9eb795;
	}
	li:nth-child(3):hover{
		background-color:#dcdfb0;
	}
	li:last-child:hover{
		background-color:#d68a9e;
	}*/
	h1{
		padding-top:20px;
		color:$lblue;
		font-weight:700;
		font-size: 1.3em;
	}
	article{
		color:$tcolor;
		font-weight:700;
		font-size: .8em;
		line-height: 1.5em;
	}
	a{
		display:inline-block;
		color:$red;
		text-align:right;
		font-size: 1em;
		font-weight:900;
		padding:5px;
		border: 1px solid $red;
		margin-left:68%;
		margin-top:10px;
	}

}

/**********************************************/

.statistics_bar{
	margin: 20px 0 20px 0;
	padding:20px 3% 20px 3%;
	background-color:$skyblue;
	
	h1{
		color:$offwhite;
		font-weight:900;
		font-size: 1.6em;
		text-align: center;
	}
}

/**********************************************/

.news{
	margin-bottom:100px;
	div{
		padding:20px;
		width:90%;
		margin:0 auto;
	}

	img{
		width:100%;
		margin:15px 0 15px 0;
	}
	a{
		color:$tcolor;
    	font-weight:700;
		font-size: 1.2em;
		margin-top: 20px;
	}
	article{
		display: block;
		margin:20px 0 20px 0;
	}
	.readmore{
		display:inline-block;
		color:$red;
		text-align:right;
		font-weight:900;
		font-size: 1em;
		padding:5px;
		border: 1px solid $red;
		margin-left:68%;
		margin-top:10px;
	}
}
.footer{
	background-color:$dblue;
	padding:20px;
	z-index: 3;  
	a{
		margin-left:4%;
		color:$offwhite;

	}
}









